.flex-container {
    display: flex;
    flex-direction: row;
}

app-note-list {
    width: 20%;
    margin-right: 5px;
}

app-note-display {
    width: 80%;
}

app-note-list, app-note-display {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
}

h1 {
    border-bottom: 1px solid var(--text-color);
    text-align: center;
}