<h2>Your Notes</h2>

<li class="flex-container" *ngFor="let item of noteListItems">
    <i *ngIf="!item.deletionStarted" class="left-button material-icons" (click)="beginDeletion(item)" title="delete">delete</i>

    <i *ngIf="item.deletionStarted" class="left-button material-icons" (click)="stopDeletion(item)" title="cancel deletion">restore</i>

    <span class="list-item-text" (click)="select(item)">{{ item.file }}</span>

    <i *ngIf="item.deletionStarted" class="right-button material-icons"(click)="delete(item)" title="delete forever">delete_forever</i>
</li>


<form class="flex-container">
    <i id="add-button" class="material-icons" (click)="create()">add</i>
    <span id="input-container">
        <input (keydown.enter)="create()" id="fileToCreate" type="text" [formControl]="fileInput" autofocus>
    </span>
</form>